<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

In this lab, we delve into the fundamental concept of feature selection. We start by conducting correlation analysis to identify relevant features for our regression model. By examining the relationship between each feature and the target variable, we aim to pick the most influential features. Additionally, we explore the significance of cross validation in model evaluation and how it relates to feature selection. Through cross validation, we ensure that our model generalises well to unseen data by assessing its performance across multiple validation sets.

### 1. Load & Explore Data

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [22]:
# Read CSV
wine_csv = pd.read_csv(r'C:\Users\lytton\Downloads\DATA\winequality_merged.csv')

#### 1.2 Explore Data (Exploratory Data Analysis)

In [25]:
wine_csv.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [27]:
wine_csv.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,0
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,0
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,0
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,0
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,0

In [29]:
wine_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  red_wine              6497 non-null   int64
dtypes: float64(11), int64(2)
memory usage: 660.0 KB

In [31]:
wine_csv.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378,0.246114
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255,0.430779
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000,0.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000,0.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000,0.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000,0.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000,1.000000

### 2. Set Target Variable

Create a target variable for wine quality.

In [35]:
quality = wine_csv['quality']

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reasoning for the choices you make.

In [39]:
wine_csv.corr()['quality'].iloc[wine_csv.corr()['quality'].abs().argsort()]

pH                      0.019506
residual sugar         -0.036980
sulphates               0.038485
total sulfur dioxide   -0.041385
free sulfur dioxide     0.055463
fixed acidity          -0.076743
citric acid             0.085532
red_wine               -0.119323
chlorides              -0.200666
volatile acidity       -0.265699
density                -0.305858
alcohol                 0.444319
quality                 1.000000
Name: quality, dtype: float64

In [41]:
#Alcohol content is the top predictor variable because it has the highest correlation to quality.

### 4. Using Linear Regression Create a Model and Test Score

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [46]:
# Split test data between training and testing sets
X = wine_csv[['alcohol']]
y = wine_csv['quality']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5197, 1) (1300, 1) (5197,) (1300,)

In [48]:
# Create a model for Linear Regression
lr = LinearRegression()
# Fit the model with the Training data
lr.fit(X_train, y_train)
# Calculate the score (R^2 for Regression) for Training Data
lr.score(X_train, y_train)

0.201095495779963

In [50]:
# Calculate the score (R^2 for Regression) for Testing Data
lr.fit(X_test, y_test)
lr.score(X_test, y_test)

0.18267880491319333

In [52]:
#0.2 is a low R^2 which means it alone is not a strong predictor of quality.

## BONUS: Cross validation

In [55]:
# Cross validation
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error

In [88]:
# Set up 5-fold cross validation
k_fold = KFold(5, shuffle=True) #Shuffles and splits dataset into 5.
train_scores = [] #Creates empty lists to store performance metrics.
train_rmse = [] #rmse = root mean squared error; lower is better.
test_scores = []
test_rmse = []

for k, (train, test) in enumerate(k_fold.split(X)): #Starts a loop over each fold.

    # Get training and test sets for X and y
    X_train = X.iloc[train, ] #Uses iloc to get the actual data rows.
    y_train = y.iloc[train, ]
    X_test = X.iloc[test, ]
    y_test = y.iloc[test, ]

    # Fit model with training set
    lr.fit(X_train, y_train) #Fits the linear regression model on the training data.

    # Make predictions with training and test set
    train_preds = lr.predict(X_train) #Used to predict target values.
    test_preds = lr.predict(X_test)

    # Score R2 and RMSE on training and test sets and store in list
    train_scores.append(lr.score(X_train, y_train)) #Scores and appends the R^2 score - a measure of how well predictions explain the variance in the target variable.
    test_scores.append(lr.score(X_test, y_test))

    train_rmse.append(np.sqrt(mean_squared_error(y_train, train_preds))) #Scores and appends the rmse - a measure of how far off, on average, our predictions are from the real values, in the same units as the target variable.
    test_rmse.append(np.sqrt(mean_squared_error(y_test, test_preds)))

# Create a metrics_df dataframe to display r2 and rmse scores
metrics_df = pd.DataFrame({'Training R2': train_scores,
                           'Test R2': test_scores,
                           'Training RMSE': train_rmse,
                           'Test RMSE': test_rmse},
                          index=[i+1 for i in range(5)])

metrics_df

   Training R2   Test R2  Training RMSE  Test RMSE
1     0.190827  0.224928       0.789175   0.754056
2     0.196926  0.199105       0.781792   0.784160
3     0.198998  0.189739       0.779076   0.795041
4     0.196325  0.200616       0.785173   0.770724
5     0.204236  0.171042       0.775928   0.807155

In [97]:
# Describe the metrics
#R^2 and RMSE scores are relatively consistent between Training and Test data which means the model generalises well.
#RMSE between 0.75 - 0.8 in relation to a 0-10 scale for Quality means the model is getting close to the average target most of the time.
#But R^2 scores of 19 - 22% indicate that the model i.e. Alcohol alone, is poor at capturing the underlying pattern causing variation in Quality.

In [ ]:
#Think of RMSE as measuring "how far off are we?", and R² as "how well do we understand what's going on?"
#You can be close (low RMSE) without truly understanding (low R²).

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data?

How many feature have you selected? Can you improve your score by selecting different features?

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > © 2024 Institute of Data


---



---